.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #2a2c2f;
  color: #fff;
}

@media (max-width: 1280px) {
  .page {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .page {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .page {
    max-width: 320px;
  }
}
