.place__link {
  font-family: 'Inter', 'Arial', sans-serif;
  text-decoration: none;
  border-bottom: solid #fff 1px;
  margin: 0 auto 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: opacity 0.5s;
}

.place__link:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}
