.footer {
  position: relative;
  width: 1184px;
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 533px;
}

@media (max-width: 1279px) {
  .footer {
    max-width: 928px;
    gap: 277px;
  }
}

@media (max-width: 1023px) {
  .footer {
    max-width: 720px;
    gap: 69px;
  }
}

@media (max-width: 767px) {
  .footer {
    max-width: 288px;
    margin: 0 auto;
    flex-direction: column;
    align-items: start;
    gap: 48px;
  }
}
