.place__website {
  max-width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 12px;
}

@media (max-width: 1023px) {
  .place__website {
    max-width: 352px;
  }
}

@media (max-width: 767px) {
  .place__website {
    width: 288px;
    margin-left: 16px;
  }
}